{% load static %}
<nav class="col-md-2 d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa-solid fa-gauge-high mr-2"></i>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expenses' %}">
          <i class="fa-solid fa-receipt mr-2"></i>
          Expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fa-solid fa-money-bill-trend-up mr-2"></i>
          Income
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Summary</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <i class="fa-solid fa-circle-plus"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-chart-pie mr-2"></i>
          Expenses Summary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-chart-line mr-2"></i>
          Income Summary
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Settings</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <i class="fa-solid fa-circle-plus"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fa-solid fa-sliders mr-2"></i>
          General
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-user-gear mr-2"></i>
          Account
        </a>
      </li>
    </ul>
  </div>
</nav>
